body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("./assets/image/image.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  max-width: 300px;
  padding: 20px;
  background-color: #11698E;
  border-radius: 5px;
}

label {
  font-weight: bold;
  color: #FFFFFF;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #19456B;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #16C79A;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #19456B;
}

.error {
  color: #FFFFFF;
  margin-top: 5px;
}
