:root {
    --primary-color: rgba(153, 28, 255, 0.5);
    --secondary-color: black;
}

body {
    background: linear-gradient( rgb(88, 0, 255), rgb(233, 0, 255), rgb(0, 0, 0), rgb(41, 90, 155));
    padding: 20px;
}

header {
    top: 0px;
    position: sticky;
    display: flex;
    background-color: var(--secondary-color);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

nav {
    padding: 0 10px
}

nav li {
    display: inline;
    list-style: none;
    padding: 10px
}

.logo {
    display: flex;
    align-items: center;
}

.title {
    color: rgb(253, 222, 245);
    text-shadow: 0 0 5px pink, 0 0 25px pink, 0 0 50px pink;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

nav a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(252, 252, 252);
    text-shadow: 0 0 5px pink, 0 0 25px pink, 0 0 50px pink;
}

nav a:hover {
    color: cyan;
}

nav li:active {
    border-radius: 20px;
    background-color: rgba(255, 98, 234, 0.349)
}

.content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin: 10px;
    background-color: var(--primary-color);
    justify-content: start;
    align-items: center;
}

h2 {
    text-align: center;
    color: rgb(253, 222, 245);
    text-shadow: 0 0 5px pink, 0 0 25px pink, 0 0 50px pink;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.flex-container-row {
    display: flex;
    margin-bottom: 10px;
}

.base-content {
    padding: 10px;
    background-color: rgb(0, 0, 0);
}

.caption {
    color: rgb(255, 227, 227);
    font-family: 'Lucida Sans Typewriter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    flex-basis: 50%;
    justify-content: center;
}

.caption>p {
    font-size: 18px;
    text-align: left;
    padding: 0 40px;
}

.flex-container-column {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

footer {
    background-color: aliceblue;
    text-align: center;
}

.bio {
    flex-basis: 30%;
    display: flex;
    align-items: center;
}

.article {
    flex-basis: 70%;
}

aside {
    flex-grow: 1;
}

.neon-border {
    border-radius: 20px;
    border-style: double;
    border-color: rgb(255, 128, 255);
    border-width: 5px;
    box-shadow: 0px 0px 20px 2px #ff67e6 inset;
}

.anchor {
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
}

.button {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 1px;
    font-family: 'Orbitron', sans-serif;
    color: rgb(255, 227, 227);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient( rgb(255, 0, 0), rgb(204, 0, 0), rgb(141, 0, 0), rgb(0, 0, 0));
    margin: 20px;
}

.button:hover {
    color: black;
}

.button:active {
    background: radial-gradient( rgb(204, 0, 0), rgb(141, 0, 0), rgb(100, 0, 0), rgb(0, 0, 0));
}

.photo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

aside>.caption {
    align-items: center;
}

.caption>p {
    padding: 0 10px;
}

footer {
    margin-top: 20px;
    background-color: var(--secondary-color);
}

footer>p {
    font-family: 'Orbitron', sans-serif;
    color: rgb(255, 227, 227);
}

.responsive-img {
    width: 30%;
    height: auto;
}

.responsive-logo {
    width: 140px;
    height: auto;
}

@media screen and (max-width: 768px) {
    body {
        padding: 10px;
    }
    h1 {
        font-size: 120%;
    }
    h2 {
        font-size: 100%;
    }
    p {
        font-size: 70%;
    }
    nav {
        padding: 0 30px;
    }
    nav li {
        padding: 0px;
    }
    nav li:active {
        border-radius: 5px;
        background-color: rgba(255, 98, 234, 0.349)
    }
    li a {
        gap: 0px;
        display: flex;
        flex-direction: column;
        font-size: 80%;
    }
    .flex-container-row {
        display: flex;
        margin-bottom: 10px;
        flex-direction: column;
    }
    .button {
        width: 70px;
        height: 70px;
    }
    .caption>p {
        font-size: 14px;
        text-align: left;
        padding: 0 40px;
    }
    .responsive-logo {
        width: 100px;
        height: auto;
    }
    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }
}